<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="PSafe Project: Psychological Safety, Advancement and Review (PSAR)" />
   <link href="http://psafe.org/atom.xml" rel="alternate" title="PSafe Project: Psychological Safety, Advancement and Review (PSAR)" type="application/atom+xml" />
   <meta name="readability-verification" content="QCzSs992GxmRYRKVpPeZ6LE2tS8aYKxsSSQKV8YM"/>
   {% if meta = 1 %}
   {{ page.meta1 }}
   {{ page.meta2 }}
   {{ page.meta3 }}
   {{ page.meta4 }}
   {{ page.meta5 }}
   {{ page.meta6 }}
   {{ page.meta7 }}
   {{ page.meta8 }}
   {{ page.meta9 }}
    {% endif %}
   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Typekit -->
   <script type="text/javascript" src="https://use.typekit.net/zdr1udd.css"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>

<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->

<div class="site">
  <div class="title">
    <a href="/">PSafe Project: Psychological Safety, Advancement and Review (PSAR)</a>
  </div>

  {{ content }}

  <div class="footer">
    <div class="contact">
      <p>
        © PSafe Project
        <br />
        project [ at ] psafe.org
        <br /><br />
        ISSN (Online): <i>Pending</i>
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="https://i.reddit.com/r/PsychologicalSafety/" target="_blank">r/PsychologicalSafety</a><br />
        <a href="http://twitter.com/PSafeorg/" target="_blank">twitter.com/PSafeorg</a><br />
      </p>
    </div>
    <div class="rss">
      <a href="http://psafe.org/atom.xml">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>
</div>

</body>
</html>
